{{define "nav"}}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a
         hx-get="/add" 
         hx-target="#modals-here" 
         hx-trigger="click" 
         data-bs-toggle="modal" 
         data-bs-target="#modals-here"
         class="nav-link"
        >Add Movie</a>
    </li>
  <li class="nav-item" hx-boost="true"
               hx-swap="innerHTML transition:true" 
               hx-target="closest body"
      >
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item" hx-boost="true"
               hx-swap="innerHTML transition:true" 
               hx-target="closest body"
      >
    <a class="nav-link" href="/users" >Users</a>
  </li>
</ul>
{{end}}
