{{define "table"}}
    {{if .Movie}}
    <div id="table-and-form">
     <table class="table">
         <thead>
        <tr>
            <th scope="col" style="width: 40%">Title</th>
            <th scope="col" style="width: 15%">Runtime</th>
            <th scope="col" style="width: 15%">Year</th>
            <th scope="col" style="width: 30%">Action</th>
        </tr>
         </thead>
            <tbody hx-target="closest tr" hx-swap="outerHTML">
        {{range .Movie}}
            {{template "table-item" .}}
        {{end}}
        </tbody>
    </table>
    </div>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}


{{define "table-item"}}
        <tr>
            <td>{{.Title}}</td>
            <td>{{.Runtime}}</td>
            <td>{{.Year}}</td>
            <td>
                <button  class="btn btn-outline-primary" hx-get="/edit/{{.ID}}" 
    >Edit</button>
            </td>
        </tr>
{{end}}

	{{define "table-edit-item"}}
		<tr hx-trigger='cancel' class='editing' hx-get="/movie/{{.ID}}">
		  <td>
		    <input name='title' value='{{.Title}}' type="text">
          </td>
          <td>
  			<input name='runtime' value='{{.Runtime}}' type="text" style="max-width: 100px">
          </td>
          <td >
  			<input name='year' value='{{.Year}}' type="number" style="max-width: 100px">
            </td>
            <td class="d-flex gap-3 ">
                <div class="col-md-6">
		    <button class="btn btn-secondary" hx-get="/movie/{{.ID}}">
		      Cancel
		    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-secondary" hx-put="/movie/{{.ID}}" hx-include="closest tr" hx-confirm="are you sure">
		      Save
		    </button>
                </div>
            </td>
		  </td>
		</tr>
	{{end}}

{{define "table-users"}}
    {{if .Users}}
    <div id="table-and-form">
     <table class="table">
         <thead>
        <tr>
            <th scope="col" >Name</th>
            <th scope="col" >Email</th>
            <th scope="col"> Activated</th>
        </tr>
         </thead>
            <tbody hx-target="closest tr" hx-swap="outerHTML">
        {{range .Users}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Email}}</td>
            <td>{{.Activated}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
    </div>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}
